.wrapper
  .index-header
    .index-header__title-explain
      .index-header__title-explain__title Vital Manager
      .index-header__title-explain__explain 体重・血圧・脈拍を記録出来る健康管理アプリ
    .index-header__btn-signout
      = link_to "destroy_user_session_path, method: :delete", class: 'signout-btn' do
        .index-header__btn-signout__btn
          ログアウト

  .index-menu
    %div.select-menu
      = link_to "new_vital_path(current_user.id)", class: 'btn' do
        = fa_icon 'pencil-square-o', class: 'icon'
        .write 新規データ作成
    %div.select-menu
      = link_to "index_vital_path(current_user.id)", class: 'btn' do
        = fa_icon 'pencil-square-o', class: 'icon'
        .write 最近のデータ
    %div.select-menu
      = link_to "show_vital_path(current_user.id)", class: 'btn' do
        = fa_icon 'pencil-square-o', class: 'icon'
        .write 30日間のデータ
  
