.record__table
  .record__table__list
    = vital[:record_date]
  .record__table__list
    = vital[:weight]
  .record__table__list
    = vital[:blood_pressure]
  .record__table__list
    = vital[:pulse]
  .record__table__list_memo
    = vital[:memo]